
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="cord-body">
                    <div class="card-header">
                        <h2>Create New User</h2>
                    </div>
                    <form action="/user" method="POST" enctype="multipart/form-data">
                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Name</label>
                            <input type="text" name="name" class="form-control" >
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Roll</label>
                            <input type="text" name="roll" class="form-control">
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Location</label>
                            <input type="text" name="Location" class="form-control">
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Age</label>
                            <input type="text" name="age" class="form-control">
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Group</label>
                            <input type="text" name="group" class="form-control">
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Class</label>
                            <input type="text" name="clas" class="form-control">
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Books</label>
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Books <i class="fa-regular fa-angle-down"></i></option>
                                <option value="saab">Saab</option>
                              </select>
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Team</label>
                            <input type="text" name="age" class="form-control">
                        </div>

                        <div class="item m-3" style="display: inline-block; width: 44%;">
                            <label for="">Photo</label> 
                            <input type="file" name="userphoto" class="form-control">
                        </div>

                        <div class="item m-3">
                            <button type="submit" class="btn btn-success">Create User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>
